In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_excel('../data/unprocessed/kadai.xlsx')
df.head()

,process_end_time,final_mes_time,OV,X1,X2,X3,X4,X5,X6,X7,...,X74,X75,X76,X77,X78,X79,X80,X81,X82,X83
0,2016-08-14 23:07:00,2016-09-24 04:22:00,111.2886,22.98,1.37,797.20,0.67,0.15,0.08,67.15,...,0.1,0.04,6.4,0.58,0.0,4.1,0.0,0.01,0.16,0.04
1,2016-08-14 23:07:00,2016-09-24 10:12:00,201.5617,22.45,9.40,803.80,0.68,0.15,0.08,56.11,...,0.1,0.04,6.4,0.58,0.0,4.1,0.0,0.01,0.16,0.04
2,2016-08-14 23:07:00,2016-09-24 14:11:00,111.9410,22.03,1.14,594.52,0.64,0.14,0.08,51.57,...,0.1,0.04,6.4,0.58,0.0,4.1,0.0,0.01,0.16,0.04
3,2016-08-14 23:07:00,2016-09-24 15:30:00,182.3914,22.98,1.37,797.20,0.67,0.15,0.08,67.15,...,0.1,0.04,6.4,0.58,0.0,4.1,0.0,0.01,0.16,0.04
4,2016-08-14 23:07:00,2016-09-24 18:31:00,196.2703,22.98,1.37,797.20,0.67,0.15,0.08,67.15,...,0.1,0.04,6.4,0.58,0.0,4.1,0.0,0.01,0.16,0.04

In [3]:
df.shape

(2276, 86)

In [4]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2276 entries, 0 to 2275
Data columns (total 86 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   process_end_time  2276 non-null   datetime64[ns]
 1   final_mes_time    2276 non-null   datetime64[ns]
 2   OV                2276 non-null   float64
 3   X1                2276 non-null   float64
 4   X2                2276 non-null   float64
 5   X3                2276 non-null   float64
 6   X4                2276 non-null   float64
 7   X5                2276 non-null   float64
 8   X6                2276 non-null   float64
 9   X7                2276 non-null   float64
 10  X8                2276 non-null   float64
 11  X9                2276 non-null   float64
 12  X10               2276 non-null   float64
 13  X11               2276 non-null   float64
 14  X12               2276 non-null   float64
 15  X13               2276 non-null   float64
 16  X14               2276 non-null   float64
 17  X15               2276 non-null   float64
 18  X16               2276 non-null   float64
 19  X17               2276 non-null   float64
 20  X18               2276 non-null   float64
 21  X19               2276 non-null   float64
 22  X20               2276 non-null   float64
 23  X21               2276 non-null   float64
 24  X22               2276 non-null   int64
 25  X23               2276 non-null   int64
 26  X24               2276 non-null   float64
 27  X25               2276 non-null   float64
 28  X26               2276 non-null   float64
 29  X27               2276 non-null   float64
 30  X28               2276 non-null   float64
 31  X29               2276 non-null   float64
 32  X30               2276 non-null   float64
 33  X31               2276 non-null   float64
 34  X32               2276 non-null   float64
 35  X33               2276 non-null   float64
 36  X34               2276 non-null   float64
 37  X35               2276 non-null   float64
 38  X36               2276 non-null   float64
 39  X37               2276 non-null   float64
 40  X38               2276 non-null   float64
 41  X39               2276 non-null   float64
 42  X40               2276 non-null   float64
 43  X41               2276 non-null   float64
 44  X42               2276 non-null   float64
 45  X43               2276 non-null   float64
 46  X44               2276 non-null   float64
 47  X45               2276 non-null   float64
 48  X46               2276 non-null   float64
 49  X47               2276 non-null   float64
 50  X48               2276 non-null   float64
 51  X49               2276 non-null   float64
 52  X50               2276 non-null   float64
 53  X51               2276 non-null   float64
 54  X52               2276 non-null   float64
 55  X53               2276 non-null   float64
 56  X54               2276 non-null   float64
 57  X55               2276 non-null   float64
 58  X56               2276 non-null   float64
 59  X57               2276 non-null   float64
 60  X58               2276 non-null   float64
 61  X59               2276 non-null   float64
 62  X60               2276 non-null   float64
 63  X61               2276 non-null   float64
 64  X62               2276 non-null   float64
 65  X63               2276 non-null   float64
 66  X64               2276 non-null   float64
 67  X65               2276 non-null   float64
 68  X66               2276 non-null   float64
 69  X67               2276 non-null   float64
 70  X68               2276 non-null   float64
 71  X69               2276 non-null   float64
 72  X70               2276 non-null   float64
 73  X71               2276 non-null   float64
 74  X72               2276 non-null   float64
 75  X73               2276 non-null   float64
 76  X74               2276 non-null   float64
 77  X75               2276 non-null   float64
 78  X76               2276 non-null   float64
 79  X77               2276 non-null   float64
 80  X78               2276 non-null   float64
 81  X79               2276 non-null   float64
 82  X80               2276 non-null   float64
 83  X81               2276 non-null   float64
 84  X82               2276 non-null   float64
 85  X83               2276 non-null   float64
dtypes: datetime64[ns](2), float64(82), int64(2)
memory usage: 1.5 MB

None

In [5]:
df.describe().T

,count,mean,min,25%,50%,75%,max,std
process_end_time,2276,2016-10-21 22:05:36.485061376,2016-08-14 23:07:00,2016-09-21 04:18:00,2016-10-11 20:55:00,2016-11-25 11:00:00,2016-12-24 20:05:00,NaN
final_mes_time,2276,2016-12-05 08:54:23.936731136,2016-09-24 04:22:00,2016-11-06 09:25:15,2016-11-26 16:26:00,2017-01-10 18:44:30,2017-01-30 10:15:00,NaN
OV,2276.0,128.035745,25.71875,80.438945,112.3856,168.245275,418.4056,62.160991
X1,2276.0,23.15442,20.02,21.96,23.12,24.35,27.49,1.670395
X2,2276.0,19.159508,0.88,1.37,3.04,14.4,158.62,34.826167
...,...,...,...,...,...,...,...,...
X79,2276.0,12.465373,0.29,3.3,4.1,7.1,470.0,58.885091
X80,2276.0,0.011538,0.0,0.0,0.01,0.01,0.6,0.041829
X81,2276.0,0.040663,0.0,0.0,0.01,0.04,0.36,0.08378
X82,2276.0,0.827851,0.07,0.16,0.21,0.33,16.0,2.87221
X83,2276.0,0.028445,0.0,0.01,0.04,0.04,0.38,0.031526

In [6]:
#データをdat1にコピーする
#"process_end_time"と"final_mes_time"を時系列オブジェクトに変換する
df["process_end_time"] = pd.to_datetime(df["process_end_time"])
df["final_mes_time"] = pd.to_datetime(df["final_mes_time"])

#最後の500レコードをテストデータとする
learn = df[0:1776]
test = df[1776:2276]

#インデックスをリセットする
learn = learn.reset_index(drop=True)
test = test.reset_index(drop=True)

#テストデータの最初の1レコードの"process_end_time"より前のlearnデータを取り出す
learn = learn[learn["final_mes_time"] < test['process_end_time'][0]]

In [7]:
learn.to_csv('../data/treated/learn.csv', index=False)
test.to_csv('../data/treated/test.csv', index=False)

In [8]:
learn_y = learn['OV']
learn.drop(columns=['OV'], inplace=True)
learn_X = learn

test_y = test['OV']
test.drop(columns=['OV'], inplace=True)
test_X = test

In [9]:
learn_X.to_csv('../data/treated/use/learn_X.csv', index=False)
learn_y.to_csv('../data/treated/use/learn_y.csv', index=False)
test_X.to_csv('../data/treated/use/test_X.csv', index=False)
test_y.to_csv('../data/treated/use/test_y.csv', index=False)