## k-meansによる説明変数を用いた品質クラス予測

In [2]:
from utils.loadData import *
from sklearn.cluster import KMeans

In [3]:
learn_X, learn_y, test_X, test_y = set_up()

In [4]:
learn_X.head()

,process_end_time,final_mes_time,X1,X2,X3,X4,X5,X6,X7,X8,...,X74,X75,X76,X77,X78,X79,X80,X81,X82,X83
0,2016-08-14 23:07:00,2016-09-24 04:22:00,22.98,1.37,797.20,0.67,0.15,0.08,67.15,9.86,...,0.1,0.04,6.4,0.58,0.0,4.1,0.0,0.01,0.16,0.04
1,2016-08-14 23:07:00,2016-09-24 10:12:00,22.45,9.40,803.80,0.68,0.15,0.08,56.11,5.27,...,0.1,0.04,6.4,0.58,0.0,4.1,0.0,0.01,0.16,0.04
2,2016-08-14 23:07:00,2016-09-24 14:11:00,22.03,1.14,594.52,0.64,0.14,0.08,51.57,6.15,...,0.1,0.04,6.4,0.58,0.0,4.1,0.0,0.01,0.16,0.04
3,2016-08-14 23:07:00,2016-09-24 15:30:00,22.98,1.37,797.20,0.67,0.15,0.08,67.15,9.86,...,0.1,0.04,6.4,0.58,0.0,4.1,0.0,0.01,0.16,0.04
4,2016-08-14 23:07:00,2016-09-24 18:31:00,22.98,1.37,797.20,0.67,0.15,0.08,67.15,9.86,...,0.1,0.04,6.4,0.58,0.0,4.1,0.0,0.01,0.16,0.04

In [5]:
learn = pd.read_csv('../data/processed/learn.csv')

In [6]:
learn_X.drop(columns=['process_end_time', 'final_mes_time'], inplace=True)

In [7]:
#k-means++のモデル構築
kmeans = KMeans(n_clusters=2, init='k-means++',random_state=0)

#k-means++のモデル実行（クラスタリング）
clusters = kmeans.fit(learn_X)
learn_X['cluster'] = clusters.labels_

In [8]:
learn_X['cluster']

0       1
1       1
2       1
3       1
4       1
       ..
1150    1
1151    1
1152    1
1153    0
1154    0
Name: cluster, Length: 1155, dtype: int32